NEXTAUTH_SECRET=hellosecret123
NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_KEY=

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=
EMAIL_SERVER_HOST=
EMAIL_SERVER_PORT=
EMAIL_SERVER_USER=
EMAIL_SERVER_PASSWORD=
EMAIL_FROM=
NEXT_ENVIRONMENT=development
ENCRYPTION_KEY=      # Must be 32 characters
INITIALIZATION_VECTOR=      # Must be 16 characters
TEST_BULKCONTRACT_ADDRESS="0x53f377ab870fc163443033764e7568312eb9c61b"
BULKCONTRACT_ADDRESS="0x941f40c2955ee09ba638409f67ef27c531fc055c"
